<div class="text-center">
  <img src="https://i.pinimg.com/474x/b9/5d/b0/b95db045fe106c182887c71077020c11.jpg" alt="" class="mb-5">

  <h4>Bertrand Renard said <%= @answer %></h4>

  <p>You have actually <%= @score %> points.</p>

  <%= link_to "Make another try", "new" %>
</div>
